// ecrase par tailwind

.button-validatation {
    background-color: $indigo;
    color: $seashell;
    border-color: $indigo;
}
.button-validatation {
    background-color: $tangerine;
    color: $indigo;
    border-color: $indigo;
}
